﻿<!DOCTYPE html>
<html lang="en" ng-app="SPro">
<head>
    <title>El-Mektep | @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    @Styles.Render("~/Dashboard/Core/css")
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" />
    @Styles.Render("~/Dashboard/Vendors/css")
    @Styles.Render("~/Dashboard/Themes/css")
    <link rel="stylesheet" data-ng-href="css/themes/{{style}}/{{theme}}.css" />   
    @RenderSection("styles", required: false)
</head>
<body ng-controller="AppController" ng-init="init('@HttpContext.Current.User.Identity.Name.Replace(@"\", @"\\")', '@HttpContext.Current.User.Identity.IsAuthenticated')"
      ng-class="[header.menu_style, header.menu_collapse, header.header_topbar, header.effect]" class="animated">
    <div ng-class="header.boxed" class="default-page">
        @*<div class="news-ticker bg-orange">
            <div class="container">
                <ul id="news-ticker-content" class="list-unstyled mbn">
                    <li><a href="http://swlabs.co/madmin/code/" target="_blank">This is Angular app version of this template. To see HTML version, please click here</a></li>
                </ul><a id="news-ticker-close" href="javascript:;"><i class="fa fa-times"></i></a>
            </div>
        </div>*@
        <a id="totop" href="/#/"><i class="fa fa-angle-up"></i></a>
        <div id="header-topbar-option-demo" ng-include="'templates/states/header.html'" onload="load_header()" class="page-header-topbar"></div>
        <div id="wrapper" ng-class="header.layout_menu">
            <nav id="sidebar" role="navigation" data-step="3" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;" data-position="right" ng-include="'Angular/Templates/SideMenu.html'" class="navbar-default navbar-static-side"></nav>
            <div id="chat-form" ng-include="'templates/states/_includes/chat-form.html'" ng-class="{show:header.chat}" class="fixed"></div>
            <div id="page-wrapper" ng-class="header.animation" class="animated">
                <div id="title-breadcrumb-option-demo" ng-include="'templates/states/breadcrumb.html'" class="page-title-breadcrumb"></div>
                <div ui-view="" class="page-content"></div>
                <!--BEGIN CONTENT QUICK SIDEBAR-->
                <div ng-include="'templates/states/_includes/quick-sidebar.html'" ng-class="{show:header.history}" class="quick-sidebar"></div>
                <!--END CONTENT QUICK SIDEBAR-->
            </div>
            <div id="footer" ng-include="'templates/states/footer.html'" ng-show="header.footer" class="hide"></div>
            @RenderBody()
        </div>
    </div>
    <div hide="hide" class="extra-page"></div>
    <!--CUSTOM MODALS-->
    <!--Modal Announce-->
    <div id="modal-announce" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default announce-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Ask-->
    <div id="modal-ask" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">Emin misiniz?</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default ask-cancelled">İptal</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary ask-approved">Tamam</button>
                </div>
            </div>
        </div>
    </div>
    <!--BEGIN MODAL CONFIG PORTLET-->
    <div id="modal-config" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend et nisl eget porta. Curabitur elementum sem molestie nisl varius, eget tempus odio molestie. Nunc vehicula sem arcu, eu pulvinar neque cursus ac. Aliquam ultricies lobortis magna et aliquam. Vestibulum egestas eu urna sed ultricies. Nullam pulvinar dolor vitae quam dictum condimentum. Integer a sodales elit, eu pulvinar leo. Nunc nec aliquam nisi, a mollis neque. Ut vel felis quis tellus hendrerit placerat. Vivamus vel nisl non magna feugiat dignissim sed ut nibh. Nulla elementum, est a pretium hendrerit, arcu risus luctus augue, mattis aliquet orci ligula eget massa. Sed ut ultricies felis.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL CONFIG PORTLET-->
    <!--Modal Default-->
    <div id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-default-label" class="modal-title">Modal Default</h4>
                </div>
                <div class="modal-body">Modal body goes here</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Left Footer-->
    <div id="modal-left-footer" tabindex="-1" role="dialog" aria-labelledby="modal-left-footer-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-left-footer-label" class="modal-title">Modal Left Footer</h4>
                </div>
                <div class="modal-body">Modal body goes here</div>
                <div class="modal-footer modal-footer-left">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Header Color Primary-->
    <div id="modal-header-primary" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Modal Header Primary</h4>
                </div>
                <div class="modal-body">Modal body goes here</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Responsive-->
    <div id="modal-responsive" tabindex="-1" role="dialog" aria-labelledby="modal-responsive-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-responsive-label" class="modal-title">Modal Responsive</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="mbm">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Stackable-->
    <div id="modal-stackable" tabindex="-1" role="dialog" aria-labelledby="modal-stackable-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-stackable-label" class="modal-title">Modal Stackable</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                    <p>One fine body…</p>
                    <p>One fine body…</p>
                    <input type="text" data-tabindex="1" class="form-control mbm" />
                    <input type="text" data-tabindex="2" class="form-control mbm" /><a data-toggle="modal" data-target="#stack2" class="btn btn-primary">Launch modal</a>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="stack2" tabindex="-1" data-focus-on="input:first" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4>Stack Two</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                    <p>One fine body…</p>
                    <input type="text" data-tabindex="1" class="form-control mbm" />
                    <input type="text" data-tabindex="2" class="form-control mbm" /><a data-toggle="modal" href="#stack3" class="btn btn-default">Launch modal</a>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div id="stack3" tabindex="-1" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4>Stack Three</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                    <input type="text" data-tabindex="1" class="form-control mbm" />
                    <input type="text" data-tabindex="2" class="form-control mbm" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Full Width-->
    <div id="modal-full-width" tabindex="-1" role="dialog" aria-labelledby="modal-full-width-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-full-width">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-full-width-label" class="modal-title">Modal Full Width</h4>
                </div>
                <div class="modal-body">Modal body goes here</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Wide Width-->
    <div id="modal-wide-width" tabindex="-1" role="dialog" aria-labelledby="modal-wide-width-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-wide-width">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-wide-width-label" class="modal-title">Modal Wide Width</h4>
                </div>
                <div class="modal-body">Modal body goes here</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Static-->
    <div id="modal-static" tabindex="-1" data-backdrop="static" data-keyboard="false" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Would you like to continue with some arbitrary task?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Continue Task</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Long-->
    <div id="modal-long" tabindex="-1" data-replace="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4>A Fairly Long Modal</h4>
                </div>
                <div class="modal-body"><a data-toggle="modal" href="#modal-notlong" style="position: absolute; top: 50%; right: 12px" class="btn btn-primary">Not So Long Modal</a>@*<img style="height: 800px;" src="http://i.imgur.com/KwPYo.jpg" />*@</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-notlong" tabindex="-1" data-replace="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4>Not That Long</h4>
                </div>
                <div class="modal-body">@*<img style="height: 300px;" src="http://i.imgur.com/KwPYo.jpg" />*@</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Alert-->
    <div id="modal-alert" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">Hello world !</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Confirm-->
    <div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">Are you sure?</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Custom Dialog-->
    <div id="modal-custom-dialog" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Custom Dialog</h4>
                </div>
                <div class="modal-body">I am a custom dialog</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-success">Success !</button>
                    <button type="button" data-dismiss="modal" class="btn btn-info">Information !</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Danger !</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Login-->
    <div id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-login-label" class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="username" class="control-label col-md-3">Username</label>
                                <div class="col-md-9">
                                    <input id="username" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label col-md-3">Password</label>
                                <div class="col-md-9">
                                    <input id="password" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <button type="button" class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Prompt-->
    <div id="modal-prompt" tabindex="-1" role="dialog" aria-labelledby="modal-prompt-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-prompt-label" class="modal-title">What is your name?</h4>
                </div>
                <div class="modal-body">
                    <input id="fullname" type="text" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    @Scripts.Render("~/Dashboard/Global/scripts")
    @Scripts.Render("~/Dashboard/App/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>