<div class="row" id="insert-form-container">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">{{lexicon.TitleInsertItem}}</div>
            <div class="panel-body">
                <form action="#" class="form-horizontal form-bordered">
                    <div class="form-body" request sp-route="{{domain}}/fields/1" sp-key="insertframe:fields" sp-as="fields">
                        <div class="form-group" ng-repeat="field in fields track by $index">
                            <label for="{{field.name}}" style="margin-top: 0.75%;" class="col-xs-3 control-label">
                                {{field.label}}
                                <span ng-if="field.isRequired" class='require'>*</span>
                            </label>
                            <div class="col-xs-9">
                                <div ng-if="field.formdata.isNavigationProperty">
                                    <div class="row">
                                        <div class="col-xs-11" style="padding-right: 1px!important;">
                                            <select id="{{field.name}}" placeholder="{{field.formdata.placeholder}}" ng-model="model[field.name]" data-url="{{field.formdata.urls.navigationList}}" class="select2-plain form-control"></select>
                                        </div>
                                        <div class="col-xs-1" style="padding-left: 0px!important; padding-right: 0px!important;">
                                            <a ui-sref="{{field.formdata.routes.insert.newItem}}" style="margin-right: 1px!important;margin-left: 1px!important">
                                                <i class="fa fa-2x fa-location-arrow"></i>
                                            </a>
                                            <a ui-sref="{{field.formdata.routes.insert.selectExisting}}">
                                                <i class="fa fa-2x fa-list"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="field.formdata.dataType === 'text'">
                                    <input id="{{field.name}}" ng-model="model[field.name]" type="text" placeholder="{{field.formdata.placeholder}}" class="form-control" />
                                </div>
                                <div ng-if="field.formdata.dataType === 'numeric'">
                                    <input id="{{field.name}}" ng-model="model[field.name]" type="number" placeholder="{{field.formdata.placeholder}}" class="form-control" />
                                </div>
                                <select ng-if="field.formdata.dataType === 'selectable'" id="{{field.name}}" model="model[field.name]" data-placeholder="{{field.formdata.placeholder}}" class="select2-plain form-control">
                                    <option value="{{opt.value}}" ng-repeat="opt in field.formdata.selectables">{{opt.text}}</option>
                                </select>
                                <select ng-if="field.formdata.dataType === 'collection'" id="{{field.name}}" placeholder="{{field.formdata.placeholder}}" ng-model="model[field.name]" class="select2-multiple form-control"
                                        request sp-route="{{field.formdata.urls.list}}" sp-key="insertframe:{{field.name}}:enlist" sp-as="options">
                                    <option value="{{opt.value}}" ng-repeat="opt in options">{{opt.text}}</option>
                                </select>
                                <div ng-if="field.formdata.dataType === 'datetime'" class='input-group' id='{{field.name}}'>
                                    <input type="text" id="{{field.name}}" ng-model="model[field.name]" class="dtpicker-applied date form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <!--<span class="help-block">This is help text</span>-->
                        </div>
                    </div>
                    <div class="form-actions text-right">
                        <button type="button" class="btn btn-primary" ng-click="submitInsert()">Ekle</button>&nbsp;
                        <button type="button" class="btn btn-success" onclick="window.history.back()">Geri</button>&nbsp;&nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
